div(class="game-complete game-container")
    div(class="note") ^ make this collapsible ^
    h2 Congrats! 
    h3 You found #{term} in #{uniquePageViews} unique page view(s)
    include ./game-new-form.jade