<!DOCTYPE html>
!=wikiContent
link(rel="stylesheet", href="/css/style.css")
include ./partials/new-game.jade
script(src="https://code.jquery.com/jquery-2.1.4.min.js")
script(src="/js/util.js")
script(src="/js/index.js")
</body>
</html>